.listaContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    max-width: 1225px;
    height: 80px;
    border-radius: 15px;
    padding: 10px;
    background-color: #F8F8F8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .info {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
  
  .field {
    flex: 0.2;
    font-size: 1rem;
    text-align: center;
  }
  
  .statusConcluido {
    background-color: #005F01;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .statusPendente {
    background-color: #DC143C;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .statusProgresso {
    background-color: #ffdd00;
    color: black;
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .statusConcluido,
  .statusProgresso,
  .statusPendente {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 10px;
    max-width: 150px;
    min-width: 60px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .actionButtonEdit, .actionButtonDelete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    font-size: 24px;
  }
  
  .actionButtonEdit:hover, .actionButtonDelete:hover {
    transform: scale(1.50);
  }
  
  
  @media (max-width: 768px) {
    .listaContainer {
        flex-direction: column;
        height: auto;
        padding: 10px;
        gap: 10px;
    }
  
    .info {
        flex-direction: column;
        text-align: center;
    }
  
    .field {
        font-size: 0.875rem;
    }
  
    .actions {
        flex-direction: column;
        gap: 5px;
    }
  
    .actionButtonConfirmar,
    .actionButtonCancelar,
    .actionButtonReagendar {
        width: 100%;
        font-size: 0.75rem;
    }
  }
  
  @media (max-width: 480px) {
    .actionButtonConfirmar,
    .actionButtonCancelar,
    .actionButtonReagendar {
        font-size: 0.625rem;
    }
  }